@use '../../shared.scss' as *;

:host {
  width: min(1000px, 100% - 20px);
  margin: 40px auto 20px auto;
}

th {
  color: $theme;
}

tr:hover td {
  background: fade-out($theme, .8);;
  transition: .3s;
  cursor: pointer;
}

mat-progress-spinner {
  margin: 50px auto;
  opacity: .6;
}