<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password">
        <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>

      @if (authLoading$ | async) {
        <button mat-button-raised type="submit" color="primary" [disabled]="true">
          <mat-progress-spinner color="purple" mode="indeterminate" [diameter]="20"></mat-progress-spinner>
        </button>
      } @else {
        <button mat-flat-button type="submit" color="primary" [disabled]="!loginForm.valid">Login</button>
      }
      
      @if (authError$ | async; as error) {
        <p class="error-message">{{error}}</p>
      }

    </form>
  </mat-card-content>
</mat-card>