@use '../../shared.scss' as *;

:host {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}

mat-card {
  width: min(500px, 100% - 20px);
  margin-top: 20vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 50%;
  height: 46px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 18px;
}

mat-progress-spinner {
  margin: 0 auto;
}

.error-message {
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
  background: fade-out($error, .9);
  color: maroon;
}