<mat-card>
  @for (section of profileSections; track section.id) {
    <p>

      <!-- Profile Section Title -->
      <mat-card-title>
        <span>{{section.name}}</span>
        @if (section.input) {
          <button mat-icon-button type="button" (click)="toggleEditing(section)">
            @if (section.editing) {
              <mat-icon>close</mat-icon>
            } @else {
              <mat-icon>mode_edit</mat-icon>
            }            
          </button>
        }
      </mat-card-title>
      
      <!-- Profile Section Content -->
      <mat-card-content>
        @if (section.editing && section.input) {

          <!-- Inputs (Editing Data) -->
          <mat-form-field>
            @if (section.type === 'text') {
              <input matInput type="text" [formControl]="section.input">
            }
            @if (section.type === 'select') {
              <mat-select [formControl]="section.input">
                @for (city of cities; track $index) {
                  <mat-option [value]="city">{{city}}</mat-option>
                }
              </mat-select>
            }
            <!-- This one won't display correctly if wrapped in modern @if syntax -->
            <input *ngIf="section.type === 'date'" matInput [matDatepicker]="picker" [formControl]="section.input">
            <mat-hint *ngIf="section.type === 'date'">YYYY-MM-DD</mat-hint>
            <mat-datepicker-toggle *ngIf="section.type === 'date'" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
          <button mat-raised-button type="button" color="primary" (click)="submitEdit(section)">Save</button>

        } @else {
          <!-- Data (Inputs Hidden) -->
          {{section.content}}
        }

      </mat-card-content>

    </p>
  }
</mat-card>
