@use '../../shared.scss' as *;

:host {
  width: min(1000px, 100% - 20px);
  margin: 40px auto 20px auto;
}

mat-card {
  padding-top: 20px;
}

p {
  border-bottom: 1px dashed #aaa;
  &:last-of-type {
    border-bottom: none;
  }
}

mat-card-title {
  padding: 0 15px 10px 15px;
  color: $theme;
  font-size: 18px;
}